.locationButton {
  border: 0;
  background: url('../../icons/static/location_pin.svg') no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
}

.locationButton:disabled {
  opacity: 0.8;
}
