.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.bg-night {
    background: linear-gradient(to bottom, #171b29, #31363a);
}

.bg-clear {
    background: linear-gradient(to bottom, #a2cef7, #79abee);
}

.bg-clouds {
    background: linear-gradient(to bottom, #8aafd8, #448ce9);
}

.bg-rain {
    background: linear-gradient(to bottom, #6987aa, #4f637e);
}

.bg-snow {
    background: linear-gradient(to bottom, #b9d1ec, #a6c2e7);
}

.bg-mist {
    background: linear-gradient(to bottom, #abb4be, #c6ced8);
}