.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #171b29;
  transition: background-color 1s ease-in;
  overflow: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.bg-night {
    background-color: #171b29;
}

.bg-clear {
    background-color: #a2cef7;    
}

.bg-clouds {
    background-color: #8aafd8;    
}

.bg-rain {
    background-color: #6987aa;    
}

.bg-snow {
    background-color: #b9d1ec;    
}

.bg-mist {
    background-color: #abb4be;    
}